<% layout('layout') -%>

    <form class="form-signin" method="POST">

        <h1 class="h3 mb-3 font-weight-normal">ADD NEW CATEGORY</h1>

        <% if (message.length > 0) { %>

            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= message %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <% } %>

                <label for="category" class="sr-only">Category</label>
                <input type="text" name="name" id="category" class="form-control" placeholder="Category" required autofocus>


                <button class="btn btn-lg btn-primary btn-block" type="submit">Add Category</button>
    </form>