<nav class="navbar navbar-expand-md navbar-default fixed-top bg-white">

    <a class="navbar-brand" href="/">Ecommerce</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <form class="form-inline mt-2 mt-md-0" method="post" action="/search">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="q" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->

            <li class="nav-item dropdown">
                <a class="btn btn-link dropdown-toggle" type="button" id="dropdownCat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownCat">
                    <% for (var i = 0; i < categories.length; i++) { %>
                        <a class="dropdown-item" href="/products/<%= categories[i]._id %>">
                            <%= categories[i].name %>
                        </a>
                        <% } %>
                </div>
            </li>

            <% if(!user) {%>
                <li class="nav-item dropdown">
                    <a class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Signup / Login
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                        <a class="dropdown-item" href="/signup">Signup</a>
                        <a class="dropdown-item" href="/login">Login</a>
                    </div>
                </li>
                <% } else { %>
                    <li class="nav-item dropdown">
                        <a class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= user.profile.name %>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/profile">Profile</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                    <% } %>
        </ul>
    </div>
</nav>