<!DOCTYPE html>

<head>
    <title>Hello World</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
</head>

<body>

    <% include ./partials/navbar %>

        <%- body -%>

            <% include ./partials/footer %>

                <% include ./partials/javascriptOnly %>

</body>

</html>