<!DOCTYPE html>

<head>
    <title>Hello World</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/signup.css">
</head>

<body>

    <% include ./partials/navbar %>

        <div class="container">

            <%- body -%>

        </div>

        <% include ./partials/footer %>
            <% include ./partials/javascriptOnly %>

</body>

</html>