/* GENERAL */

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
* {
    text-rendering: optimizeLegibility;
}

html.touch * {
    text-rendering: optimizeSpeed;
}

body {
    font-weight: 400;
    overflow-x: hidden !important;
    font-family: 'Ubuntu', sans-serif !important;
    text-rendering: optimizeLegibility;
    /* text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.004);
    -webkit-text-stroke: 0.45px rgba(255, 255, 255, 0.1); */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h4 {
    color: #fff;
    font-weight: 700 !important;
    font-size: 21px;
    letter-spacing: .5px;
}

.pd-20_80 {
    padding: 20px 80px;
}

.pd-30_80 {
    padding: 30px 80px;
}

.pd_lr_15px {
    padding-right: 15px;
    padding-left: 15px;
}

.pd_t10_lr80 {
    padding-top: 10px;
    padding-right: 80px;
    padding-left: 80px;
}

.btn {
    font-weight: 500 !important;
}

.navbar-header h4 a#toggle-btn {
    position: absolute;
    top: .8rem;
    left: 15px;
}

.navbar-header p {
    color: #fff;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.btn-bottom {
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0px;
    border-radius: 0 !important;
    z-index: 99;
}

.hidden {
    display: none;
}

.pd-30px {
    padding: 30px;
}

.form_blanco {
    margin-top: 15px;
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    font-weight: 700;
}

.form-control:disabled {
    background: none;
    opacity: .5;
}

select.form-control {
    font-family: 'Ubuntu', sans-serif !important;
}

select.nros-prof,
select.form-cliente,
select.form-vendedor,
select.form-tipo {
    font-size: 16px;
    width: 100%;
    font-weight: 400;
    border: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.nro-proforma {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0 3px;
    margin-bottom: 0;
}

.form-nros {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    margin-bottom: 0;
}

.nros-prof,
.nros-prof:focus,
.form-cliente,
.form-cliente:focus,
.form-vendedor,
.form-vendedor:focus {
    background: transparent;
    color: #fff;
    font-weight: 700 !important;
    border: 0;
    box-shadow: none !important;
}

.nros-prof:disabled {
    background: none;
    color: #ACACBC;
}

.form-total {
    border: 0;
    box-shadow: none;
    padding: 0;
    font-size: 30px;
    line-height: 0px;
    color: #191A45 !important;
    font-weight: 900;
}

.form-doc {
    border: 0;
    box-shadow: none;
    padding: 0;
    font-size: 20px;
    color: #191A45 !important;
}

.form-total:focus,
.form-doc:focus {
    border: 0;
    box-shadow: none;
}

.form-total .input-group .input-group-prepend .input-group-text,
.form-total .input-group .input-group-append .input-group-text {
    font-size: 30px;
    font-weight: 900 !important;
    color: #191A45;
    border: 0 !important;
}

.form-tipo {
    padding: 0 10px 0 0 !important;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    font-weight: 900 !important;
    color: #191A45;
}

label {
    letter-spacing: .5px;
}

label.error {
    margin-top: 10px;
    color: red;
    text-align: left;
    font-size: 11px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #fce0e0;
}

label.success,
.success {
    text-align: left;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #c6fcd3;
}

.form-group div[class*="col-"] {
    margin-bottom: 0;
}

.form-group label,
.label-serie {
    color: #ACACBC;
    font-size: 12px;
    padding-bottom: 0;
    padding-top: 0;
    font-weight: 400 !important;
}

.label-serie {
    padding: 0;
}

.form-border {
    margin-bottom: 0;
    border-top: 1px solid #1329d4;
    border-left: 1px solid #1329d4;
    border-right: 1px solid #1329d4;
}

.btn-info {
    background: #1329d4;
    font-weight: 500 !important;
    font-family: 'Roboto', sans-serif;
}

.btn-info:hover {
    font-weight: 700 !important;
    background: #1329d4;
}

.btn-info.disabled,
.btn-info:disabled {
    background: #1329d4;
}

.group-radio .input-group .input-group-prepend .input-group-text {
    border: 0;
    padding: 0 10px 0 0;
    background: transparent;
}

.group-radio .input-group label {
    margin-top: 10px;
}

.form-control[readonly] {
    background: #fff;
}

@media (max-width: 575px) {
    .pd-30_80 {
        padding: 10px 40px;
    }
    .pd-20_80 {
        padding: 20px 40px;
    }
    .dashboard-header div {
        margin-bottom: 0 !important;
    }
    .b_left {
        border-left: 0;
    }
    .form {
        margin: 10px 30px;
    }
    .nro-proforma {
        text-align: center;
    }
}