@font-face {
    font-family: 'djpost';
    src: url('../fonts/djpost.eot');
    src: url('../fonts/djpost.eot#iefix') format('embedded-opentype'), url('../fonts/djpost.woff2') format('woff2'), url('../fonts/djpost.woff') format('woff'), url('../fonts/djpost.ttf') format('truetype'), url('../fonts/djpost.svg#djpost') format('svg');
    font-weight: normal;
    font-style: normal;
}

.demo-icon {
    font-family: "djpost";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* You can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}


/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'djpost';
    src: url('../font/djpost.svg?67132058#djpost') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "djpost";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-wishlist:before {
    content: '\e800';
}


/* '' */

.icon-shopping-basket:before {
    content: '\e801';
}


/* '' */

.icon-search:before {
    content: '\e802';
}


/* '' */

.icon-report:before {
    content: '\e803';
}


/* '' */

.icon-refund-1:before {
    content: '\e804';
}


/* '' */

.icon-point-of-sale:before {
    content: '\e805';
}


/* '' */

.icon-placeholder:before {
    content: '\e806';
}


/* '' */

.icon-payment-method:before {
    content: '\e807';
}


/* '' */

.icon-online-store:before {
    content: '\e808';
}


/* '' */

.icon-online-shop:before {
    content: '\e809';
}


/* '' */

.icon-list:before {
    content: '\e80a';
}


/* '' */

.icon-database:before {
    content: '\e80b';
}


/* '' */

.icon-choices:before {
    content: '\e80c';
}


/* '' */

.icon-cashier-machine:before {
    content: '\e80d';
}


/* '' */

.icon-calculator:before {
    content: '\e80e';
}


/* '' */

.icon-buy:before {
    content: '\e80f';
}


/* '' */

.icon-analysis:before {
    content: '\e810';
}


/* '' */

.icon-ecommerce:before {
    content: '\e811';
}


/* '' */

.icon-invoice:before {
    content: '\e812';
}


/* '' */

.icon-secure:before {
    content: '\e813';
}


/* '' */

.icon-tap:before {
    content: '\e814';
}


/* '' */

.icon-barcode:before {
    content: '\e815';
}


/* '' */

.icon-calendar:before {
    content: '\e816';
}


/* '' */

.icon-settings:before {
    content: '\e817';
}


/* '' */

.icon-team:before {
    content: '\e818';
}


/* '' */

.icon-warehouse:before {
    content: '\e819';
}


/* '' */

.icon-warehouse1:before {
    content: '\e81a';
}


/* '' */

.icon-add-button:before {
    content: '\e81b';
}


/* '' */

.icon-analytics:before {
    content: '\e81c';
}


/* '' */

.icon-car-navigation:before {
    content: '\e81d';
}


/* '' */

.icon-communication:before {
    content: '\e81e';
}


/* '' */

.icon-management:before {
    content: '\e81f';
}


/* '' */

.icon-tasks:before {
    content: '\e820';
}


/* '' */

.icon-close-circular-button-of-a-cross:before {
    content: '\e821';
}


/* '' */

.icon-big-and-small-dots:before {
    content: '\e822';
}