@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?vh3yky');
    src: url('../fonts/icomoon.eot?vh3yky#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?vh3yky') format('truetype'), url('../fonts/icomoon.woff?vh3yky') format('woff'), url('../fonts/icomoon.svg?vh3yky#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add-button:before {
    content: "\e900";
}

.icon-manager-warehouse:before {
    content: "\e901";
}

.icon-analysis:before {
    content: "\e902";
}

.icon-analytics:before {
    content: "\e903";
}

.icon-balance:before {
    content: "\e904";
}

.icon-barcode:before {
    content: "\e905";
}

.icon-big-and-small-dots:before {
    content: "\e906";
}

.icon-buy:before {
    content: "\e907";
}

.icon-icon-calculator:before {
    content: "\e908";
}

.icon-calculator-1:before {
    content: "\e909";
}

.icon-calendar:before {
    content: "\e90a";
}

.icon-navigation:before {
    content: "\e90b";
}

.icon-cash-register:before {
    content: "\e90c";
}

.icon-cashier-machine:before {
    content: "\e90d";
}

.icon-choices:before {
    content: "\e90e";
}

.icon-close-circular:before {
    content: "\e90f";
}

.icon-communication:before {
    content: "\e910";
}

.icon-customer-service:before {
    content: "\e911";
}

.icon-database:before {
    content: "\e912";
}

.icon-delivery-free:before {
    content: "\e913";
}

.icon-delivery:before {
    content: "\e914";
}

.icon-expenses:before {
    content: "\e915";
}

.icon-financial:before {
    content: "\e916";
}

.icon-investment:before {
    content: "\e917";
}

.icon-invoice:before {
    content: "\e918";
}

.icon-like:before {
    content: "\e919";
}

.icon-management:before {
    content: "\e91a";
}

.icon-online-shop:before {
    content: "\e91b";
}

.icon-online-store:before {
    content: "\e91c";
}

.icon-buy-1:before {
    content: "\e91d";
}

.icon-payment-method-1:before {
    content: "\e91e";
}

.icon-payment-method:before {
    content: "\e91f";
}

.icon-full-screen:before {
    content: "\e920";
}

.icon-placeholder:before {
    content: "\e921";
}

.icon-point-of-sale:before {
    content: "\e922";
}

.icon-point-of-service-1:before {
    content: "\e923";
}

.icon-point-of-service:before {
    content: "\e924";
}

.icon-point-of-services:before {
    content: "\e925";
}

.icon-qr-code:before {
    content: "\e926";
}

.icon-receipt:before {
    content: "\e927";
}

.icon-refund-1:before {
    content: "\e928";
}

.icon-report:before {
    content: "\e929";
}

.icon-save:before {
    content: "\e92a";
}

.icon-secure:before {
    content: "\e92b";
}

.icon-settings-search:before {
    content: "\e92c";
}

.icon-shopping-basket:before {
    content: "\e92d";
}

.icon-smartphone-1:before {
    content: "\e92e";
}

.icon-smartphone-2:before {
    content: "\e92f";
}

.icon-smartphone:before {
    content: "\e930";
}

.icon-stock:before {
    content: "\e931";
}

.icon-tap:before {
    content: "\e932";
}

.icon-tasks:before {
    content: "\e933";
}

.icon-team:before {
    content: "\e934";
}

.icon-transfer-money:before {
    content: "\e935";
}

.icon-user-card:before {
    content: "\e936";
}

.icon-warehouse-1:before {
    content: "\e937";
}

.icon-warehouse:before {
    content: "\e938";
}

.icon-wishlist:before {
    content: "\e939";
}