<% layout('layout') -%>

    <form class="form-signin" method="POST">

        <h1 class="h3 mb-3 font-weight-normal">EDIT PROFILE</h1>

        <% if (message.length > 0) { %>

            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= message %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <% } %>

                <label for="name" class="sr-only">Name</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Email" value="<%= user.profile.name %>" required autofocus>

                <label for="address" class="sr-only">Address</label>
                <input type="text" name="address" id="address" class="form-control" value="<%= user.address %>" placeholder="Address" required>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
    </form>