<% layout('layout') -%>

    <div class="container">

        <div class="row">

            <div class="col-sm-6">
                <img class="rounded" src="<%= user.profile.picture %>" alt="">
                <br />
                <p>Name:
                    <%= user.profile.name %>
                </p>
                <p>Email:
                    <%= user.email %>
                </p>

                <% if (user.address === "" || typeof user.address === 'undefined') { %>

                    <p>Address: <span class="text-danger">You have no address</span></p>

                    <% } else { %>
                        <p>Address:
                            <%= user.address %>
                        </p>
                        <% } %>

                            <a href="/edit-profile" class="btn btn-success">Edit Profile</a>
            </div>

        </div>

    </div>