<% layout('layout') -%>

    <form class="form-signin" method="POST">

        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">

        <h1 class="h3 mb-3 font-weight-normal">SIGNUP</h1>

        <% if (errors.length > 0) { %>

            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= errors %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <% } %>

                <label for="name" class="sr-only">Nombres</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Nombres" required autofocus>

                <label for="email" class="sr-only">Email address</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>

                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" required>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>