<% layout('layout') -%>

    <div class="container" style="margin-top: 80px;">

        <div class="row">
            <% for (var i =0; i < products.length; i++) { %>
                <div class="col-md-3">
                    <div class="card">
                        <a href="/product/<%= products[i]._id %>">
                            <img class="card-img-top" src="<%= products[i].image %>" alt="<%= products[i].name %>">
                        </a>
                        <div class="card-body">
                            <h6>
                                <a href="/product/<%= products[i]._id %>">
                                    <%= products[i].name %>
                                </a>
                            </h6>
                            <p class="card-text">
                                <%= products[i].category.name %>
                            </p>
                            <p class="card-text">
                                <%= products[i].price %>
                            </p>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>

    </div>