<% layout('layout') -%>

    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Shop Smart, Save Big!</h1>
                <p>starting point to create something more unique.</p>
                <!-- <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Signup &raquo;</a></p> -->
            </div>
        </div>

        <div class="container">

            <div class="row">
                <% for (var i =0; i < products.length; i++) { %>
                    <div class="col-md-3">
                        <div class="card">
                            <a href="/product/<%= products[i]._id %>">
                        <img class="card-img-top" src="<%= products[i].image %>" alt="<%= products[i].name %>">
                    </a>
                            <div class="card-body">
                                <h6>
                                    <a href="/product/<%= products[i]._id %>">
                                        <%= products[i].name %>
                                    </a>
                                </h6>
                                <p class="card-text">
                                    <%= products[i].category.name %>
                                </p>
                                <p class="card-text">
                                    <%= products[i].price %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% } %>

                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <% for(var i = 0; i <= pages; i++) { %>

                                    <% if(i === 1) { %>
                                        <li class="page-item">
                                            <a class="page-link" href="/">
                                                <%= i %>
                                            </a>
                                        </li>
                                        <% } else { %>
                                            <a class="page-link" href="/">
                                                <%= i %>
                                            </a>
                                            <% } %>

                                                <% } %>
                            </ul>
                        </nav>

            </div>

        </div>

    </main>