<% layout('layout') -%>

    <div class="container" style="margin-top: 120px;">
        <div class="row">

            <div class="col-md-4">
                <img src="<%= product.image %>">
            </div>

            <div class="col-md-4">

            </div>

            <div class="col-md-4">
                <h3>
                    <%= product.name %>
                </h3>
                <h1>
                    <%= product.price %>
                </h1>
            </div>

        </div>
    </div>