<% layout('layout') -%>

    <% if (data.length === 0) { %>
        <h3>Search not found</h3>
        <% } else { %>
            <h3>Result for
                <%= query %>
            </h3>

            <%= data.length %>

                <div class="container">
                    <div class="row">
                        <% for (var i =0; i < data.length; i++) { %>
                            <div class="col-md-3">
                                <div class="card">
                                    <a href="/product/<%= data[i]._source._id %>">
                                    <img class="card-img-top" src="<%= data[i]._source.image %>" alt="<%= data[i]._source.name %>">
                                </a>
                                    <div class="card-body">
                                        <h6>
                                            <a href="/product/<%= data[i]._source._id %>">
                                                <%= data[i]._source.name %>
                                            </a>
                                        </h6>
                                        <p class="card-text">
                                            <%= data[i]._source.category.name %>
                                        </p>
                                        <p class="card-text">
                                            <%= data[i]._source.price %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <% } %>

                    </div>
                </div>

                <% } %>